:root {
  --color-bg: #0f111a;
  --color-bg-component: #eff1f4;
  --color-text: #c9d1d9;
  --color-accent: #0c73fe;
  --color-border: #30363d;
  --color-button: #fa742d;

  --font-base: 'Inter', sans-serif;
}
