:root {
  --color-bg: #0f111a;
  --color-bg-component: #eff1f4;
  --color-text: #bec1c4;
  --color-accent: #0c73fe;
  --color-border: #30363d;
  --color-button: #fa742d;
  --color-button-hover: #fa5c06;

  --font-base: 'Inter', sans-serif;
}
